# Data types
> Basic data types

Tutorial from [this page](https://www.guru99.com/r-data-types-operator.html) of guru99, edited by Ray

R Programming works with numerous data types, including

* Scalars
* Vectors (numerical, character, logical)
* Matrices
* Data frames
* Lists

Basics types

* 4.5 is a **decimal** value called numerics.
* 4 is a natural value called **integers**. Integers are also numerics.
* TRUE or FALSE is a **Boolean** value called logical.
* The value inside " " or ' ' are text (**string**). They are called characters.

In [1]:
# Declare variables of different types
# Numeric

x<-28

class(x)

[1] "numeric"

In [2]:
# String
y <- "R is Fantastic"
class(y)

[1] "character"

In [3]:
x+y

ERROR: Error in x + y: non-numeric argument to binary operator

### Variables
Variables store values and are an important component in programming, especially for a data scientist. A variable can store a number, an object, a statistical result, vector, dataset, a model prediction basically anything R outputs. We can use that variable later simply by calling the name of the variable.

To declare a variable, we need to assign a variable name. The name should not have space. We can use _ to connect to words.

To add a value to the variable, use <- or =.

Here is the syntax:

In [5]:
# First way to declare a variable:  use the `<-`
name_of_variable <- 42
# Second way to declare a variable:  use the `=`
name_of_variable = 42

In [6]:
x <-42
x

[1] 42

In [7]:
y <-10
y

[1] 10

In [8]:
# We call x and y and apply a subtraction
x-y

[1] 32

### Vectors
A vector is a one-dimensional array. We can create a vector with all the basic data type we learnt before. The simplest way to build a vector in R, is to use the **c command**.

In [9]:
# Numerical
vec_num <- c(1,10,49)
vec_num

[1]  1 10 49

In [12]:
# Character 
vec_chr = c("a","b","c")
vec_chr

[1] "a" "b" "c"

Extra , won't be tolerated

In [13]:
vec_chr = c("a","b","c",)
vec_chr

ERROR: Error in c("a", "b", "c", ): argument 4 is empty

In [14]:
vec_bool = c(TRUE, FALSE, TRUE)
vec_bool

[1]  TRUE FALSE  TRUE

We can do arithmetic calculations on vectors.

In [17]:
vec_1 <- c(1,3,5)
vec_2 <- c(2,4,6)

c(vec_1,vec_2)

[1] 1 3 5 2 4 6

In [19]:
sum_vec <- vec_1+vec_2
sum_vec

[1]  3  7 11

### Slice vector

R vector counts **FROM 1 NOT 0**

In [22]:
slice_vec <- c(1,2,3,4,5,6,7,8,9,10)
slice_vec[1:5]

[1] 1 2 3 4 5

The shortest way to create a **range** of value is to use the: between two numbers. For instance, from the above example, we can write c(1:10) to create a vector of value from one to ten.

In [23]:
c(1:100)

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

### Operators

We will first see the basic arithmetic operations in R. The following operators stand for:

Operator

Description
```
+	Addition
-	Subtraction
*	Multiplication
/	Division
^ or **	Exponentiation
```

In [24]:
# An addition
3 + 4

[1] 7

The sentences starting with **#** annotation. We can use # inside an R script to add any **comment** we want. R won't read it during the running time.

In [25]:
# A multiplication
3*5

[1] 15

In [26]:
# A division
(5+5)/2

[1] 5

In [27]:
# Exponentiation
2^5

[1] 32

In [29]:
# Modulo, with 2 %s
28%% 6

[1] 4

### Logical Operators

With logical operators, we want to return values inside the vector based on logical conditions. Following is a detailed list of logical operators available in R

```
<    less than
<=    less than or equal to
>    greater than
>=   greater than or equal to
==    equal to
!=    not equal to 
!x    not x
x&y    y and y
isTRUE(x)    test if x is TRUE
```
The logical statements in R are wrapped inside the ```[]```. We can add many conditional statements as we like but we need to include them in a parenthesis. We can follow this structure to create a conditional statement:

```R
variable_name[(conditional_statement)]
```

With variable_name referring to the variable, we want to use for the statement. We create the logical statement i.e. variable_name > 0. Finally, we use the square bracket to finalize the logical statement. Below, an example of a logical statement.

In [30]:
# Create a vector from 1 to 10
logical_vec <- c(1:10)
logical_vec >5

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In the output above, R reads each value and compares it to the statement logical_vector>5. If the value is strictly superior to five, then the condition is TRUE, otherwise FALSE. R returns a vector of TRUE and FALSE.


In the example below, we want to extract the values that only meet the condition 'is strictly superior to five'. For that, we can wrap the condition inside a square bracket precede by the vector containing the values.

In [31]:
logical_vec[(logical_vec>5)]

[1]  6  7  8  9 10

In [32]:
# Print 5 and 6
logical_vector <- c(1:10)
logical_vector[(logical_vector>4)&(logical_vector<7)]

[1] 5 6