# Factor in R
> Categorical & Continuous Variables

The notebook is based on [this tutorial](https://www.guru99.com/r-factor-categorical-continuous.html)

## What is factor in R?

Factors are variables in R which take on a limited number of different values; such variables are often referred to as categorical variables.

In a dataset, we can distinguish two types of variables: **categorical** and **continuous**.

* In a **categorical** variable, the value is limited and usually based on a particular finite group. For example, a categorical variable can be countries, year, gender, occupation.
* A **continuous** variable, however, can take any values, from integer to decimal. For example, we can have the revenue, price of a share, etc..

## Categorical variables

R stores categorical variables into a factor. Let's check the code below to convert a character variable into a factor variable. Characters are not supported in machine learning algorithm, and the only way is to convert a string to an integer.

Syntax
```r
factor(x = character(), levels, labels = levels, ordered = is.ordered(x))
```
* x: A vector of data. Need to be a string or integer, not decimal.
* Levels: A vector of possible values taken by x. This argument is optional. The default value is the unique list of items of the vector x.
* Labels: Add a label to the x data. For example, 1 can take the label `male` while 0, the label `female`.
* ordered: Determine if the levels should be ordered.

Let's create a factor dataframe

In [3]:
# Create a gender vector
gender_vector <- c("Male","Female","Female","Male","Male")
class(gender_vector)

[1] "character"

In [4]:
gender_vector

[1] "Male"   "Female" "Female" "Male"   "Male"

Convert vector to factor

In [5]:
factor_gender_vector <- factor(gender_vector)
class(factor_gender_vector)

[1] "factor"

In [6]:
factor_gender_vector

[1] Male   Female Female Male   Male
Levels: Female Male

It is important to transform a **string** into factor when we perform Machine Learning task.

A categorical variable can be divided into **nominal** categorical variable and **ordinal** categorical variable.

### Nominal Categorical Variable
A categorical variable has several values but the order does not matter. For instance, male or female categorical variable do not have ordering.

In [7]:
# Create a color vector
color_vector <- c('blue', 'red', 'green', 'white', 'black', 'yellow')
# Convert the vector to factor
factor_color <- factor(color_vector)
factor_color # the levels in return are ordered in an alphabetical order

[1] blue   red    green  white  black  yellow
Levels: black blue green red white yellow

### Ordinal Categorical Variable
Ordinal categorical variables do have a natural ordering. We can specify the order, from the lowest to the highest with order = TRUE and highest to lowest with order = FALSE.

In [10]:
# Create Ordinal categorical vector 
day_vector <- c('evening', 'morning', 'afternoon', 'midday', 'midnight', 'evening')

# enforcing a meaningful order in factor
factor_day <- factor(day_vector, order = TRUE, 
                     levels=c('morning',"midday","afternoon","evening","midnight"))
factor_day

[1] evening   morning   afternoon midday    midnight  evening
Levels: morning < midday < afternoon < evening < midnight

### Occurance stats

In [11]:
# Append the line to above code
# Count the number of occurence of each level

summary(factor_day)

  morning    midday afternoon   evening  midnight
        1         1         1         2         1

R ordered the level from 'morning' to 'midnight' as specified in the levels parenthesis.

## Continuous variable

Continuous class variables are the default value in R. They are stored as numeric or integer. We can see it from the dataset below. mtcars is a built-in dataset. It gathers information on different types of car. We can import it by using mtcars and check the class of the variable mpg, mile per gallon. It returns a numeric value, indicating a continuous variable.

In [12]:
dataset <- mtcars

In [14]:
dataset$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [15]:
dataset

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2